* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
    margin: 1rem;
}

/* HEADER BEGIN */
.header {
    border: red solid 0.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__img {
    width: 25rem;
    height: 10rem;
    object-fit: cover;
}

.header__profile {
    border: blue solid .1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: .5rem;
    padding: 1rem;
}

.header__profile-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 .5rem 0
}

.header__profile-main p {
    margin-top: .5rem;
    font-size: 1.3rem;
    color: #575756;
    font-weight: 100;
}

.header__profile-list {
    display: none;
    list-style: none;
    align-self: center;
    text-align: center;
}

.header__profile:hover ul,
.header__profile-list:hover {
    display: block;
}

.header__profile-list button {
    background-color: #00727d;
    color: white;
    border: none;
    outline: none;
    width: 6rem;
    height: 1.8rem;
    margin: .2rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.header__profile-list button:hover {
    background-color: #bed600;
}

.header__menu {
    border: black solid .1rem;
    align-self: flex-end;
    width: 100%;
}

.header__menu-main {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: .2rem;
}

.menu-main__item {
    font-size: 1.6rem;
    font-weight: 400;
    color: #575756;
}

.menu-main__item p:hover {
    color: #00727d;
    cursor: default;
}

/* HEADER END*/

/* MAIN BEGIN */
.main__background-pic {
    width: 100%;
    object-fit: cover;
}

/* MAIN END */

/* FOOTER BEGIN */
.footer {
    border: orangered solid .1rem;
    background-color: #00727d;
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.footer__list {
    color: white;
    font-size: 1.2rem;
}

.footer__list-item:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list-item--logo {
    background-color: white;
    object-fit: cover;
    width: 10rem;
    margin: .5rem;
}

/* FOOTER END */